In [5]:
import pandas as pd
import requests
import os
from dotenv import load_dotenv
from datetime import datetime
import json
from src.connector import FREDConnector, INEGIConnector
from typing import Any
load_dotenv()

True

In [ ]:
class DataLoader:

    @staticmethod
    def carga_local(path:str) -> pd.DataFrame: # En este momento la carga solo es de datos mensuales, después se agregaran
        return pd.read_csv(path, encoding='utf-8', parse_dates=['date'])

class ChartDataPreprocessor:

    """
    Clase para cargar (local y de AWS), y preprocesar los datos que se mostrarán en las gráficas de dash.
    """

    def __init__(self, config): # Agregar más adelante las variables de entorno de AWS
        self.config = config

    @staticmethod
    def serie_igae_preprocessor():
        data_loader = DataLoader()
        igae_data = [data_loader.carga_local('data/inegi/csv/737121.csv'),
                     data_loader.carga_local('data/inegi/csv/737219.csv')]
        igae_df = pd.merge(igae_data[0], igae_data[1], how='inner', on='date')
        igae_df = igae_df.loc[igae_df['date']>='2000-01-01']
        igae_df.set_index('date', inplace=True)

        return igae_df

chart_prep = ChartDataPreprocessor('config')
igae_data = chart_prep.serie_igae_preprocessor()

igae_data

                737121      737219
date
2000-01-01   71.985137   73.639569
2000-02-01   72.253367   73.176291
2000-03-01   74.651021   73.114724
2000-04-01   71.374765   73.239722
2000-05-01   75.420777   73.815619
...                ...         ...
2025-02-01  100.522395  105.250919
2025-03-01  105.557791  105.030862
2025-04-01  104.159225  105.518981
2025-05-01  107.920457  105.588093
2025-06-01  105.279723  105.823190

[306 rows x 2 columns]